/* @override 
	http://createnew:8082/sites/all/themes/at_magazine/css/styles.custom.css?mijta5
	http://createnew:8082/sites/all/themes/at_magazine/css/styles.custom.css?mipgpc
	http://createnew:8082/sites/all/themes/at_magazine/css/styles.custom.css?miqq0b
*/

/** 
 * Use this file to provide overrides to the main styles. This file always loads last
 * so you can override anything in the other style-sheets.
 * 
 * Usage
 * 1: Uncomment this file in the themes info file.
 * 2: Clear the sites cache. See /admin/config/development/performance
 * 3: Add you styles!
 */

/* @group Body */

body{
	background: url(images/MSUbodybackground.png) repeat-x !important;
}

#page.container{
	padding: 0;
}

h2.block-title{
	color: #00723f;
}

/* @end */

/* @group Header */


#header{
	background-image: url(images/MSUbannerbackground.png);
	background-color: #18453b;
	margin: 0;
} 

#branding{
	width: auto;
	height: 120px;
}

#logo{
}

/* @group Login Block */

.block-logintoboggan{
	float: right;
	height: 12px;
	width: 170px;
}
.block-logintoboggan .menu-wrapper {
  float: right;
  padding-right: 10px;
}

#block-c4s-custom-user-login-link {
	float: right;
	height: 12px;
	width: 40px;
	top: -30px;
}

/* @end */

/* @group Menu Bar */

#menu-bar-wrapper{
	margin: 0;
}

.block-region-menu-bar{
	background-color: #b7b7b1 !important;
	background-image: url(images/menu-nohover.png) !important;
}

#menu-bar a.sf-depth-1{
	color: black !important;
}

#menu-bar a:hover.sf-depth-1, #menu-bar a:active.sf-depth-1, #menu-bar a.sf-depth-1.active{
	color: white !important;
	background: #888881 url(images/menu-hover.png) repeat-x;
}

#menu-bar .middle a.sf-depth-1, #menu-bar .last a.sf-depth-1{
	border-left: 1px solid #8b8b81 !important;
}

#menu-bar a.sf-depth-2, #menu-bar a.sf-depth-3{
	background-color: #959a8d;
	border-bottom: 1px solid #8f8f8f !important;
}

#menu-bar a:hover.sf-depth-2, #menu-bar a:hover.sf-depth-3, #menu-bar a:active.sf-depth-2, #menu-bar a:active.sf-depth-3{
	background-color: #b3b7ae;
}

/* @end */

/* @end header*/

/* @group Frontpage-Featured */

#tripanel{
	margin: 10px;
	background-color: transparent;
	padding: 0;
	font-size: 1em;
}

.three-3x33 .region-three-33-first{
	width: 610px;
}

#block-views-featured-front-page-block{
	padding: 0;
	margin: 0;
}

#block-views-featured-front-page-block .block-content-inner,
#block-views-featured-front-page-block .block-inner{
	margin: 0;
	padding: 0;
}

#block-views-featured-front-page-block .block-inner .block-content .block-content-inner .view-featured-front-page .view-content .skin-default .featured-slide-item .views-field-field-featured-image{

}

.featured-slide-item {
	background-color: #256131;
}

.views-field-field-featured-image{
	padding: 10px 10px 5px;
}

#transparency{
	position: absolute;
	top: 323px;
	left: 10px;
	width: 580px;
	height: 80px;
	background-color:#256131;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}

#caption-area{
	position: absolute;
	top: 323px;
	left: 12px;
	color: white;
	font-size: 1.1em;
	padding: 5px;
	line-height: 1.2em;
	font-weight: bold;
	text-align: justify;
	width: 570px;
}

#caption-area h2 a{
	color: #e8b909;
	font-weight: bold;
	font-size: .95em;
}



/* @end */

/* @group Frontpage-Highlights */

.three-3x33 .region-three-33-third{
	width: 330px;
}

.region-three-33-third .block{
	margin-bottom: 10px;
	position: relative;
	height: 131px;
	overflow: hidden;
}

.region-three-33-third .views-field-title a{
	font-size: 1.3em;
	font-weight: bold;
}

#block-views-highlights-block{
	background-color: #8cd0e9;
}

#block-views-highlights-block-1{
	background-color: #eada92;
	}

#block-views-highlights-block-2{
	background-color: #ed8c6d;
	margin: 0;
}

.region-three-33-third .highlight-background{
	position: absolute;
	top: 0px;
	left: 0px;
}

.region-three-33-third .highlight-image{
	float: right;
}

/* @end */

/* @group Announcements Block */

#block-views-news-announcements-block .block-inner{
	border: 2px solid #84082c;
	height: 47px;
	background-color: #f8f8f8;
	background: url(images/announcement.png) no-repeat #f8f8f8;
}

#block-views-news-announcements-block .block-content{
	
	
	padding-left: 190px;
}

#block-views-news-announcements-block .block-content-inner{
	margins: 0px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#block-views-news-announcements-block .views-field-title a{
	color: maroon;
	font-weight: bold;
	font-size: 1.3em;
}

#block-views-news-announcements-block .views-field-body p{
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Right Sidebar */

.region-sidebar-second .block-content-inner{
	background: none;
}

.region-sidebar-second .feed-icon{
	text-align: right;
	float: right;
	padding: 0;
}

.region-sidebar-second .views-field-title a{
	color: #847135;
	font-size: 1.1em;
	font-weight: bold;
}

/* @end */

/* @group Publications Block */

.biblio-recent-block .views-field-citation{
	font-size: 0.9em;
	line-height: 1.3em;
	margin-bottom: 5px;
}

/* @end */

/* @group Upcoming Block */

.upcoming-events-block .views-field-field-event-location{
	font-style: italic;
	text-indent: 10px;
}

.upcoming-events-block .views-field-field-date{
	text-indent: 10px;
}
.upcoming-events-block .views-row{
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
}

/* @end */

/* @group Positions Block */

/* @end */

/* @group Blurbs Block */

.blurbs-block .views-field-title a{
	color: #307442;
	font-weight: normal;
	font-style: normal;
}

.blurbs-block .views-row{
	padding-bottom: 3px;
	padding-top: 3px;
	border-bottom-style: groove;
	border-bottom-width: 1px;
}
/* @end */


/* @group Main Content */

#main-content{
	margin: 10px;
}

.article{
	padding: 10px;
}

.article-teaser.article-sticky{
	padding-left: 10px;
}

.additional-news{
	margin-left: 20px;
}

/* @end */

/* @group Footer */

#footer{
	background: #e4e8de url(images/MSU-Wordmark.gif) no-repeat 30px center;
}

#footer .block-inner.clearfix{
	margin: 0;
	padding: 0;
}
#footer .block-content-inner p{
	margin: 0;
}

#footer .block-content-inner{
	color: #686964;
	text-align: left;
	padding: 18px 0 0;
	margin-right: 0;
	margin-left: 210px;
	margin-bottom: 0;
	vertical-align: middle;
}

#footer-inner .block-content-inner a{
	color: #686964;
	text-decoration: underline;
}

#footer-inner .block-content-inner a:hover{
	text-decoration: none;
}

/* @end */

@media only screen and (max-width:320px) {
  .block-region-three-33-third{
	display: none;
  }
  
  #block-block-5{
	display: none;
  }

  #branding {
    height: auto; 
  }
  
  .block-region-menu-bar{
	background-image: none !important;
	}
	
  #menu-bar a:hover.sf-depth-1, #menu-bar a:active.sf-depth-1, #menu-bar a.sf-depth-1.active{
	background-image: none;
  }
  
}

@media only screen and (min-width:321px) and (max-width:480px) {
	  .block-region-three-33-third{
	display: none;
  }
  
  #block-block-5{
	display: none;
  }

  #branding {
    height: auto; 
  }
  
  .block-region-menu-bar{
	background-image: none !important;
	}
	
  #menu-bar a:hover.sf-depth-1, #menu-bar a:active.sf-depth-1, #menu-bar a.sf-depth-1.active{
	background-image: none;
  }
  
}

.view-publications .biblio-export-buttons{
	margin-left: 25px;
}